doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" type="text/css")
    link(rel='stylesheet' type="text/css" href='/css/global.css')
  body
    block content