mixin messagesDisplay(messagesData)
  .grid-33
    .app--section
      ul.app--message--list
        li
          h3
            | Conversation with 
            a Jill Spore
          ul.app--message--conversation
            each message in messagesData
              li.app--message
                .app--avatar(style='background-image: url(../../public/images/f-spore.png)')
                  img(src='../../public/images/f-spore.png')
                p.app--message--text= message.text
                p.app--message--timestamp= message.timeSent
